<%= render "devise/shared/header" %>
<form>
  <h1 class="login-h1">新規登録</h1>
  <div class="row mb-3">
    <label for="store_name" class="label-change">店舗名</label>
    <input type="text" class="form-change form-control" id="store_name">
  </div>
  <div class="row mb-3">
    <label for="store_no" class="label-change">店舗ナンバー</label>
    <input type="number" class="form-change form-control" id="store_no" placeholder= "現在の店舗Noを半角英数字で入力">
  </div>
  <div class="row mb-3">
    <label for="inputEmail3" class="label-change">メールアドレス</label>
    <input type="email" class="form-change form-control" id="inputEmail3" placeholder="店舗用アドレスを入力">
  </div>
  <div class="row mb-3">
    <label for="password" class="label-change">パスワード(6文字以上)</label>
    <input type="password" class="form-change form-control" id="password" placeholder="6文字以上の半角英数字">
  </div>
  <div class="row mb-3">
    <label for="password_confirmation" class="label-change">確認のため再度パスワードを入力</label>
    <input type="password" class="form-change form-control" id="password_confirmation" placeholder="同じパスワードを入力してください">
  </div>
  <button type="submit" class="sign-in" >新規登録</button>
</form>


