<% if model.errors.any? %>
<div class="error-massage">
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li class="error-text"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>