<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">年末商戦データ入力</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <form class="d-flex" role="search">
        <button class="top-login btn btn-outline-success" type="submit">ログイン</button>
        <button class="top-signin btn btn-outline-success" type="submit">新規登録</button>
      </form>
    </div>
  </div>
</nav>