<%= render "devise/shared/header" %>
<div class="main">
  <div class="two-segmentation">
    <div class="left-selection">
      <label for="formFile" class="form-label">Default file input</label>
      <input class="form-control" type="file" id="formFile">
      <label for="formFile" class="form-label">Default file input</label>
      <input class="form-control" type="file" id="formFile">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
    </div>
    <div class="right-selection">
      <div class="d-grid gap-3">
        <div class="p-2 bg-light border ">担当者</div>
        <div class="p-2 bg-light border ">発注数</div>
        <div class="p-2 bg-light border ">販売数</div>
        <div class="p-2 bg-light border ">販売年</div>
        <div class="p-2 bg-light border ">展開場所</div>
        <div class="p-2 bg-light border ">展開方法</div>
        <div class="p-2 bg-light border ">欠品の有無</div>
        <div class="p-2 bg-light border ">特売日</div>
        <div class="p-2 bg-light border ">天気</div>
      </div>
    </div>
  </div>
  <div>登録する</div>
</div>