<%= render "devise/shared/header" %>
<div class="main">
  <div class="two-segmentation">
    <div class="left-selection">
      <label for="formFile" class="form-label">Default file input</label>
      <input class="form-control" type="file" id="formFile">
      <label for="formFile" class="form-label">Default file input</label>
      <input class="form-control" type="file" id="formFile">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
    </div>
    <div class="right-selection">
    eee
    </div>
  </div>
  <div>登録する</div>
</div>